<html>
<head>
<title>Orders</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Orders</h1>

[ <a href="/">Homepage</a> | <a href="Customers">Customers</a> | <a href="Orders">Orders</a> | <a href="Products">Products</a> | <a href="Categories">Categories</a> | <a href="Products_in_Orders">Products in Order</a> ]
<div id="browse" style="display: block">
<p><strong>Browse Orders</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#">New</a></th>
    <th></th>
    <th>Order ID</th>
    <th>Customer ID</th>
    <th>Order Date</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
    <td align="right" >1</td>
    <td >2</td>
    <td align="right" >2050-01-10</td>
    <td>2049.96</td>
    
  </tr>
  <tr>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
    <td align="right" >2</td>
    <td >1</td>
    <td align="right" >2050-01-16</td>
    <td>35.00</td>
  </tr>
  <tr>
    <td><button type="button">Edit</button></td>
    <td><button type="button">Delete</button></td>
    <td align="right" >3</td>
    <td >2</td>
    <td align="right" >2050-02-02</td>
    <td>1367.47</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert" style="display: block">
    <form id="addOrder">
        <legend><strong>Add Order</strong></legend>
          <fieldset class="fields">
           

            <li><label> Customer ID </label> <input type="number" name="customer_id"></li>

            <li><label> Order Date </label> <input type="date" name="order_date"></li>

            <li><label> Total </label> <input type="number" name="total"></li>

          </fieldset>
          <input class="btn" type="submit" id="addOrder" value="Add an Order">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new order-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updateOrder">
      <legend><strong>Update Order</strong></legend>
          <fieldset class="fields">
          
            <li><label>Order ID:</label> 1</li>
            
            <li><label> Customer ID </label> <input type="number" value=2 name="customer_id"></li>

            <li><label> Order Date </label> <input type="date"  name="order_date" value="2050-01-10"></li>
            
            <li><label> Total </label> <input type="number" name="total" value=2049.96></li>
            
    </fieldset>
    <input class="btn" type="submit" id="UpdateOrder" value="Update Order">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- update -->
<div id="delete" style="display: block">
  <form method="POST" id="deleteOrder">
      <legend><strong>Delete Order</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you want to delete this order?</p>
          <input type="hidden" name="orderID" id="deleteorderID" value="1">
          <label><strong>Order ID:</strong></label> 1
            <label> <strong>Customer ID:</strong> </label> 2
            
    </fieldset>
    <input class="btn" type="submit" id="deleteCustomer" value="Delete Order">
          <input class="btn" type="button" value="cancel" onClick="browseOrders()">
  </form> 
</div><!-- delete -->
</body>
</html>