<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Products</title>
  </head>
  
  <body>
    <h1>Products</h1>
    [ <a href="/">Homepage</a> | <a href="Customers">Customers</a> | <a href="Orders">Orders</a> | <a href="Products">Products</a> | <a href="Categories">Categories</a> | <a href="Products_in_Orders">Products in Order</a> ]
    <table border="1" cellpadding="5">
        <tr>
            <th><a href="#">New</a></th>
            <th></th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Stock</th>
            <th>Category ID</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
            <td>1</td>
            <td>Flamethrower 3000</td>
            <td>40</td>
            <td>3</td>
            <td>999.99</td>
            <td>A zombie apocalypse can happen any time from now, you must prepare for the future. Protect you and your
                loved ones and burn these zombies to the ground!</td>
        </tr>
        <tr>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
            <td>2</td>
            <td>Zombie Brain Blaster</td>
            <td>20</td>
            <td>3</td>
            <td>449.99</td>
            <td>Want to ensure a zombie is dead for good? No worries! Blast its brain into pieces with this blaster. </td>

        </tr>
        <tr>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
            <td>3</td>
            <td>Emergency Flare Kit</td>
            <td>30</td>
            <td>2</td>
            <td>24.99</td>
            <td>Protect you and your family during a zombie apocalypse. Flares prevent you from being eaten by a zombie
                and save lives. Flares are safe and easy to use.</td>

        </tr>
        <tr>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
            <td>4</td>
            <td>Spam Luncheon Meat</td>
            <td>50</td>
            <td>1</td>
            <td>3.50</td>
            <td>It’s America’s #1 canned luncheon meat brand* - made with simple ingredients, has 7 g of protein per
                serving, and is fully cooked and shelf stable.</td>

        </tr>
    </table>
    <br>
    <form id="add_product">
        <legend><strong>Add Product</strong></legend>
        <fieldset>
            <label for="add_product_name">Product Name:</label>
            <input type="text" id="add_product_name" name="add_product_name"><br>
            <label for="add_stock">Stock:</label>
            <input type="text" id="add_stock" name="add_stock"><br>
            <label for="add_category_id">Category ID:</label>
            <select name="add_category_id" id="add_category_id">
                <option></option>
                <option value="1">Food</option>
                <option value="2">Safety</option>
                <option value="3">Firearm</option>
            </select><br>
            <label for="add_price">Price:</label>
            <input type="text" id="add_price" name="add_price"><br>
            <label for="add_description">Description:</label>
            <input type="text" id="add_description" name="add_description"><br>
        </fieldset>
    </form>
    <input type="submit" form="add_product" value="Add">
    <p>&nbsp;</p>
    <form id="update_product">
        <legend><strong>Update Product</strong></legend>
        <fieldset>
            <label for="update_product_name">Product Name:</label>
            <input type="text" id="update_product_name" name="update_product_name"><br>
            <label for="update_stock">Stock:</label>
            <input type="text" id="update_stock" name="update_stock"><br>
            <label for="update_category_id">Category ID:</label>
            <select name="update_category_id" id="update_category_id">
                <option></option>
                <option value="1">Food</option>
                <option value="2">Safety</option>
                <option value="3">Firearm</option>
            </select><br>
            <label for="update_price">Price:</label>
            <input type="text" id="update_price" name="update_price"><br>
            <label for="update_description">Description:</label>
            <input type="text" id="update_description" name="update_description"><br>
        </fieldset>
    </form>
    <input type="submit" form="update_product" value="Update">

    <p></p>

    <div id="delete" style="display: block">
        <form method="POST" id="deleteProduct">
            <legend><strong>Delete Product</strong></legend>
                <fieldset class="fields">
                <p>Are you sure you want to delete this product?</p>
                <input type="hidden" name="productID" id="deleteproductID" value="1">
                <label><strong>ID:</strong></label> 1
                  <label> <strong>Name:</strong> </label> Flamethrower 3000
                  
          </fieldset>
          <input class="btn" type="submit" id="deleteProduct" value="Delete Product">
                <input class="btn" type="button" value="cancel" onClick="browseProducts()">
        </form> 
      </div><!-- delete -->

  </body>
</html>